<button (click)="openModal()">Open Modal</button>
<app-modal [title]="modalTitle" [isOpen]="modalOpen" (click)="closeModal()">
    <h2>New Sender</h2>
    <form>
        <div class="mb-3">
            <label for="senderId" class="form-label">Sender Id</label>
            <input type="text" class="form-control" id="senderId" [(ngModel)]="address.addressId" name="senderId"
                required>
        </div>
        <div class="mb-3">
            <label for="city" class="form-label">City</label>
            <input type="text" class="form-control" id="city" [(ngModel)]="address.city" name="city" required>
        </div>
        <div class="mb-3">
            <label for="road" class="form-label">Road</label>
            <input type="text" class="form-control" id="road" [(ngModel)]="address.road" name="road" required>
        </div>
        <div class="mb-3">
            <label for="number" class="form-label">Number</label>
            <input type="number" class="form-control" id="number" [(ngModel)]="address.number" name="number" required>
        </div>
        <button type="submit" class="btn btn-primary" (click)="saveAddress()">Create Sender</button>
    </form>
</app-modal>