<app-navigation></app-navigation>
<div class="container mt-3">
  <button type="button" class="btn btn-success" (click)="createNewRecipient()">New</button>
  <button type="button" class="btn btn-danger" (click)="removeAllRecipients()">Delete All</button>
  <br><br>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Id</th>
        <th scope="col">Recipient Name</th>
        <th scope="col">RG</th>
        <th scope="col">CPF</th>
        <th scope="col">Address</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of recipientList; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ item.recipientId }}</td>
        <td>{{ item.recipientName }}</td>
        <td>{{ item.rg }}</td>
        <td>{{ item.cpf }}</td>
        <td>{{ item.addressRecipient.city }} - {{ item.addressRecipient.road }}, {{ item.addressRecipient.number }}</td>
        <td>
          <button class="btn btn-danger" (click)="removeRecipient(item.recipientId)">
            Remove <i class="bi bi-pencil"></i>
          </button>
          <button class="btn btn-warning" (click)="editRecipient(item.recipientId)">
            Edit <i class="bi bi-pencil"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>