<div class="container mt-4">
    <h2>New Product</h2>
    <form>
        <div class="mb-3">
            <label for="productId" class="form-label">Product Id</label>
            <input type="text" class="form-control" id="productId" [(ngModel)]="product.productId" name="productId"
                required>
        </div>
        <div class="mb-3">
            <label for="productName" class="form-label">Product Name</label>
            <input type="text" class="form-control" id="productName" [(ngModel)]="product.productName"
                name="productName" required>
        </div>
        <div class="mb-3">
            <label for="productValue" class="form-label">Produto Price</label>
            <input type="number" class="form-control" id="productValue" [(ngModel)]="product.productValue"
                name="productValue" required>
        </div>
        <div class="mb-3">
            <label for="productWeight" class="form-label">Produto Weight</label>
            <input type="number" class="form-control" id="productWeight" [(ngModel)]="product.productWeight"
                name="productWeight" required>
        </div>
        <button type="submit" class="btn btn-primary" (click)="saveProduct()">Create Product</button>
    </form>
</div>